body {
  background-color: #FFFFFF;
  font-family: Arial;
  font-size: 16px;
}

.header {
  background-color: #aa0000;
  width: 100%;
  color: #FFFFFF;
  font-weight: bold;
}

.subheader {
  background-color: #333333;
  width: 100%;
  color: #FFFFFF;
  text-align: right;
}

.content {
  margin: 30px;
}

.footer {
  color:#FFFFFF;
  margin-top:10px;
  margin-bottom:10px;
}

.spacer {
  margin:25px;
}

h1.headline {
  font-size:23px;
  font-weight:bold;
  color: #FFFFFF;
  padding-bottom:0px;
}

p {
  margin-bottom:10px;
}

h1 {
  font-size:23px;
  font-weight:bold;
  padding-bottom:10px;
}

h2 {
  font-size:20px;
  font-weight:bold;
  padding-bottom:10px;
}

table {
  width: 100%;
}

td {
  vertical-align: middle;
  padding: 15px;
}

a {
  color: #FFFFFF;
}
