<h1>Welcome</h1>

This application is a class project, created by
<a href="https://github.com/jalena-penaligon">Jalena Taylor</a> and
<a href="https://github.com/joequincy">Jon Peterson</a>. The source for this
project and a description of its goals and user stories can be found on
<a href="https://github.com/joequincy/book-club">Github</a>.
